h1 {
  margin: 0px;
}

.App {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(144, 123, 123);
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* TODO: create cardholder and card for projects */
.section {
  color: lightsteelblue;
  background-color: black;
}

.projects {
  background-color: #4b5464;
  width: 90%;
  display:inline-flex;
  border-left-style: double;
  border-bottom-style: double;
  border-left-width: thick;
  border-bottom-width: thick;
  border-bottom-left-radius: 8px;
  border-left-color: darkred;
  border-bottom-color: darkred;
}

.project-card {
  background-color: #1a2c31;
  height: 300px;
  width: 270px;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  padding: 25px
}

.project-desc {
  color: lightsteelblue;
}

.project-image {
  position: relative;
}