h1 {
  font-size: 2.1em;
  margin: 0px;
}

h2 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 90%
}

h3 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* unvisited link */
a:link {
  color: rgba(255, 0, 0, 0.647);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 161, 0);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(231, 125, 26);
}

/* selected link */
a:active {
  color: blue;
}
.App {
  text-align: center;
}

.animated {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../src/images/cute-moose-flat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.delayed {
  animation-delay: 1s;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  flex: auto;
  display: inline;
  border-style: solid;
  border-color: #457380;
  border-width: thin;
  font-size: .9em;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;

}

.section {
  color: lightsteelblue;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about {
  display: flex;
  width: 70%;
  margin-bottom: 1rem
}

.about img {
  height: 200px;
  float: left;
}

.about-body {
  flex: 1;
  padding: 10px;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.howdy {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.projects {
  background-color: #4b5464;
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-left-style: double;
  border-bottom-style: double;
  border-left-width: thick;
  border-bottom-width: thick;
  border-bottom-left-radius: 8px;
  border-left-color: darkred;
  border-bottom-color: darkred;
  margin-top: 10px;
  margin-bottom: 15px;
}

.project-card-wrapper {
  display: flex;
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
  flex: 1 0 200px;
  text-align: center;
  width: 33%;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.project-card {
  background-color: #1a2c31;
  flex: 1 0 200px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.project-header {
  color: lightsteelblue;
  text-align: center;
}

.project-header p {
  padding-left: 5px;
  padding-right: 5px;
}

.project-image {
  position: relative;
}

.project-image img {
  width: 100%;
  height: auto;
}

.resume-wrapper {
  background-color: #4b5464;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 1rem;
  border-left-style: double;
  border-bottom-style: double;
  border-left-width: thick;
  border-bottom-width: thick;
  border-bottom-left-radius: 8px;
  border-left-color: darkred;
  border-bottom-color: darkred;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
}

.skills {
  width: 90%;
  display: grid;
  gap: 15px;
  align-items: center;
  place-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tech-skills {
  background-color: #1a2c31;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  grid-column: 1;
  grid-row: 1 / span 3;
}

.tech-list {
  line-height: .5em;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: medium;
  border-color:black
}

.tech-list li{
  display: flex;
  align-items: center;
}

.tech-logo {
  height: 30px;
  align-items: center;
  margin: 5px;
}

.customer-service {
  background-color: #1a2c31;
  grid-column: 2;
  grid-row: 1;
  word-wrap: normal;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.collab-problem {
  background-color: #1a2c31;
  grid-column: 2;
  grid-row: 2;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.detail-focused {
  background-color: #1a2c31;
  grid-column: 2;
  grid-row: 3;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.embedded-resume-box {
  display: block;
  padding-bottom: 1.5rem;
}

#pdf-container {
  /* TODO: make pdf container invisible on small screens */
  width: 90%;
  height: 40rem;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#download-link-btn {
  background-color: #1a2c31;
  font-size: 1.5rem;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer {
  background-color: #4b5464;
  display: flex;
  flex-wrap: wrap;
  /* height: 300px; */
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
  border-left-style: double;
  border-bottom-style: double;
  border-left-width: thick;
  border-bottom-width: thick;
  border-bottom-left-radius: 8px;
  border-left-color: darkred;
  border-bottom-color: darkred;
}

.contact-methods {
  background-color: #1a2c31;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top-width: thick;
  border-top-style: solid;
  border-top-color:#457380;
  border-left-color: #1a2c31;
  border-bottom-color: #1a2c31;
  border-right-width: thick;
  border-right-style: solid;
  border-right-color: #457380;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

.contact-icons {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.xx {
  margin-top: .3rem;
}

.aside {
  margin-bottom: 10px;
}